.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 678px;
}

.u-section-1 .u-group-1 {
  width: 774px;
  min-height: 460px;
  margin: 218px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 8rem;
  margin: 24px 29px 0 11px;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 2.25rem;
  margin: 20px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 764px;
  }

  .u-section-1 .u-group-1 {
    width: 727px;
    min-height: 628px;
    margin-top: 22px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 736px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 880px;
  }

  .u-section-1 .u-group-1 {
    min-height: 768px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
    margin-top: 274px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 713px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 297px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 608px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 45px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 563px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 40px;
  padding-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 30px 690px 0 240px;
}

.u-section-2 .u-image-1 {
  width: 145px;
  height: 150px;
  margin: -82px 1px 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 0.625rem;
  text-transform: none;
  line-height: 1;
  margin: -4px 95px 0 55px;
}

.u-section-2 .u-group-1 {
  width: 242px;
  min-height: 242px;
  margin: -614px auto 0 -2px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 8px;
}

.u-section-2 .u-text-3 {
  font-size: 13.75rem;
  animation-duration: 1000ms;
  margin: -39px -30px 0;
}

.u-section-2 .u-line-1 {
  width: 221px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 1px -19px -3px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-2 .u-layout-cell-1 {
    animation-duration: 1000ms;
    min-height: 464px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    width: 279px;
    margin-top: -960px;
    margin-right: 8px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    height: 151px;
    margin-top: -663px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -29px;
    margin-right: 61px;
    margin-left: 5px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -602px;
    margin-left: 30px;
  }

  .u-section-2 .u-text-3 {
    margin-right: -8px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 145px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -1154px;
    margin-right: 6px;
    margin-left: 35px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-top: -125px;
    margin-right: 47px;
    margin-left: 0;
  }

  .u-section-2 .u-line-1 {
    width: 182px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 319px;
    margin-right: 9px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: -231px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -365px;
    margin-right: 74px;
  }

  .u-section-2 .u-group-1 {
    margin-right: 288px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 416px;
    margin-right: 3px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -87px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -701px;
    margin-right: 22px;
  }

  .u-section-2 .u-group-1 {
    margin-right: 88px;
  }

  .u-section-2 .u-text-3 {
    font-size: 3rem;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 619px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 56px;
}

.u-section-3 .u-image-1 {
  min-height: 563px;
  background-image: url("images/Tell-Me-About-Yourself-Interview-Job-Interview-Interview-Questions-Dice.png");
  animation-duration: 1000ms;
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 40px;
  padding-bottom: 0;
}

.u-section-3 .u-shape-1 {
  margin-left: -40px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 563px;
  animation-duration: 10000ms;
}

.u-section-3 .u-container-layout-2 {
  padding-bottom: 0;
}

.u-section-3 .u-text-1 {
  font-size: 13.75rem;
  margin: -145px 30px 0 313px;
}

.u-section-3 .u-line-1 {
  width: 221px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 9px 30px 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 3rem;
  width: 166px;
  margin: 130px auto 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 0.875rem;
  border-style: none;
  margin: 21px auto 0 202px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 1px;
    min-height: 343px;
  }

  .u-section-3 .u-image-1 {
    min-height: 464px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-3 .u-shape-1 {
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 464px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -481px;
    margin-right: 606px;
    margin-left: 50px;
  }

  .u-section-3 .u-line-1 {
    width: 182px;
    margin-top: 120px;
    margin-right: 0;
    margin-left: 3px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin-top: 30px;
    margin-right: 8px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: -181px;
    margin-right: 119px;
    margin-left: 102px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 411px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 110px;
  }

  .u-section-3 .u-image-1 {
    min-height: 355px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -612px;
    margin-right: 426px;
    margin-left: 49px;
  }

  .u-section-3 .u-line-1 {
    width: 140px;
    margin-top: 251px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 6px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: -289px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -267px;
    margin-bottom: 0;
    min-height: 692px;
  }

  .u-section-3 .u-image-1 {
    min-height: 533px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -870px;
    margin-right: 169px;
    margin-left: 38px;
  }

  .u-section-3 .u-line-1 {
    width: 221px;
    margin-top: 1093px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 9px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: -217px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 208px;
    margin-bottom: 45px;
    min-height: 447px;
  }

  .u-section-3 .u-image-1 {
    min-height: 336px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -532px;
    margin-right: 90px;
    margin-left: 6px;
  }

  .u-section-3 .u-line-1 {
    width: 110px;
    margin-top: 604px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 3px;
    margin-left: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-top: -433px;
    margin-right: auto;
  }
}