.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 748px;
}

.u-section-1 .u-group-1 {
  width: 774px;
  min-height: 460px;
  margin: 218px auto 60px 0;
}

.u-section-1 .u-text-1 {
  font-size: 8rem;
  margin: 24px 20px 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 2.25rem;
  margin: 20px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 764px;
  }

  .u-section-1 .u-group-1 {
    width: 727px;
    min-height: 628px;
    margin-top: 22px;
    margin-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 736px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 880px;
  }

  .u-section-1 .u-group-1 {
    min-height: 768px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
    margin-top: 274px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 713px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 297px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 412px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: -142px auto 50px 0;
}

.u-section-2 .u-image-1 {
  background-image: url("images/DSC03083.png");
  min-height: 504px;
  background-position: 15.73% 50%;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 504px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 49px;
}

.u-section-2 .u-line-1 {
  width: 710px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 72px auto 0 0;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 20px 20px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 80px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 0.875rem;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    min-height: NaNpx;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: NaNpx;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 40px;
  }

  .u-section-2 .u-line-1 {
    width: 594px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-2 .u-btn-1 {
    position: relative;
    height: 42px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 31px;
  }

  .u-section-2 .u-line-1 {
    width: 455px;
    margin-top: 36px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 20px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 13px;
    margin-bottom: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-2 {
    padding-left: 23px;
  }

  .u-section-2 .u-line-1 {
    width: 426px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 9px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-2 {
    padding-left: 15px;
  }

  .u-section-2 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-2 {
    margin-right: 6px;
    margin-left: 6px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 6px;
    margin-left: 6px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 680px;
}

.u-section-3 .u-shape-1 {
  width: 893px;
  height: 639px;
  margin: 15px -25px 0 auto;
}

.u-section-3 .u-slider-1 {
  min-height: 575px;
  margin-top: -600px;
  margin-bottom: 0;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  width: 108px;
  height: 3px;
  left: auto;
  top: auto;
  right: 368px;
  bottom: 19px;
}

.u-section-3 .u-carousel-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-3 .u-image-1 {
  width: 365px;
  object-position: 67.67% 0%;
  left: 0;
  right: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-text-1 {
  font-weight: normal;
  margin: 35px 166px 0 503px;
}

.u-section-3 .u-line-1 {
  width: 221px;
  height: 3px;
  transform-origin: left center 0px;
  margin: -27px -46px 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 60px -33px 0 304px;
}

.u-section-3 .u-carousel-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-3 .u-image-2 {
  width: 365px;
  object-position: 42.18% 0%;
  left: 0;
  right: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-text-3 {
  font-weight: normal;
  margin: 21px 166px 0 503px;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  margin: 10px -33px 0 304px;
}

.u-section-3 .u-carousel-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 80px;
}

.u-section-3 .u-text-5 {
  font-weight: normal;
  margin: 21px 166px 0 503px;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  margin: 35px -33px 0 304px;
}

.u-section-3 .u-image-3 {
  width: 365px;
  object-position: 71.56% 0%;
  left: 0;
  right: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-carousel-control-1 {
  width: 30px;
  height: 30px;
}

.u-section-3 .u-carousel-control-2 {
  width: 30px;
  height: 30px;
  left: auto;
  right: 0;
  position: absolute;
}

.u-section-3 .u-text-7 {
  font-size: 13.75rem;
  margin: -735px 38px 0 869px;
}

.u-section-3 .u-text-8 {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: -110px 1155px 38px -65px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-shape-1 {
    margin-top: 41px;
  }

  .u-section-3 .u-slider-1 {
    height: auto;
    margin-top: -659px;
  }

  .u-section-3 .u-text-1 {
    width: 191px;
    margin-top: -22px;
    margin-left: 295px;
    margin-right: 295px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -18px;
    margin-left: 204px;
  }

  .u-section-3 .u-text-3 {
    width: 191px;
    margin-top: -22px;
    margin-left: 295px;
    margin-right: 295px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 204px;
  }

  .u-section-3 .u-text-5 {
    width: 191px;
    margin-top: -22px;
    margin-left: 295px;
    margin-right: 295px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 124px;
    margin-left: 204px;
  }

  .u-section-3 .u-image-3 {
    object-position: 67.67% 0%;
  }

  .u-section-3 .u-text-7 {
    margin-top: -696px;
    margin-right: 0;
    margin-left: 707px;
  }

  .u-section-3 .u-text-8 {
    margin: -56px 106px 60px 402px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-shape-1 {
    width: 720px;
    margin-top: 137px;
    margin-right: 0;
  }

  .u-section-3 .u-slider-1 {
    margin-top: -755px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 10px;
    margin-left: 205px;
    margin-right: 205px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -82px;
    margin-left: 144px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 10px;
    margin-left: 205px;
    margin-right: 205px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 144px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 10px;
    margin-left: 205px;
    margin-right: 205px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 92px;
    margin-left: 144px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 487px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
    margin-left: 288px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-shape-1 {
    width: 540px;
    margin-top: 29px;
  }

  .u-section-3 .u-slider-1 {
    min-height: 436px;
    margin-top: -647px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -2px;
    margin-left: 165px;
    margin-right: 165px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 26px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -2px;
    margin-left: 165px;
    margin-right: 165px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.125rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -2px;
    margin-left: 165px;
    margin-right: 165px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.125rem;
    margin-top: 104px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    font-size: 3.75rem;
    margin-left: 307px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 108px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-shape-1 {
    width: 340px;
    margin-top: 277px;
  }

  .u-section-3 .u-slider-1 {
    min-height: 582px;
    margin-top: -895px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 246px;
    margin-left: 65px;
    margin-right: 65px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -198px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 246px;
    margin-left: 65px;
    margin-right: 65px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 246px;
    margin-left: 65px;
    margin-right: 65px;
  }

  .u-section-3 .u-text-6 {
    margin-top: -92px;
  }

  .u-section-3 .u-text-7 {
    font-size: 3rem;
    margin-left: 107px;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.5rem;
    margin-left: 0;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 617px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 46px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 515px;
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 40px;
  padding-bottom: 0;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: 156px 9px 0 0;
}

.u-section-4 .u-text-2 {
  line-height: 2;
  margin: 20px 20px 0 0;
}

.u-section-4 .u-image-1 {
  width: 769px;
  height: 305px;
  margin: -516px -488px 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 515px;
}

.u-section-4 .u-container-layout-2 {
  padding-bottom: 0;
}

.u-section-4 .u-text-3 {
  font-size: 13.75rem;
  margin: -643px 878px 60px 35px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 527px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 480px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    margin-top: 30px;
    margin-right: 8px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 61px;
  }

  .u-section-4 .u-image-1 {
    width: 546px;
    height: 333px;
    margin-top: 74px;
    margin-right: auto;
    margin-left: -76px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 480px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -481px;
    margin-right: 606px;
    margin-left: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 667px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-4 .u-text-2 {
    position: relative;
    margin-right: 47px;
  }

  .u-section-4 .u-image-1 {
    width: 439px;
    margin-top: 167px;
    margin-left: -79px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 667px;
  }

  .u-section-4 .u-text-3 {
    margin: -612px 426px 0 49px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 840px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 74px;
  }

  .u-section-4 .u-image-1 {
    width: 476px;
    margin-top: -76px;
    margin-left: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 638px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -870px;
    margin-right: 169px;
    margin-left: 38px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 667px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 3px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 22px;
  }

  .u-section-4 .u-image-1 {
    height: 243px;
    width: 294px;
    margin-top: -78px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 191px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -532px;
    margin-right: 90px;
    margin-left: 6px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 617px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 46px;
  margin-bottom: 56px;
}

.u-section-5 .u-image-1 {
  min-height: 563px;
  background-image: url("images/gamelede.jpg");
}

.u-section-5 .u-container-layout-1 {
  padding-left: 40px;
  padding-bottom: 0;
}

.u-section-5 .u-shape-1 {
  margin-left: -40px;
  animation-duration: 1000ms;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 563px;
  animation-duration: 10000ms;
}

.u-section-5 .u-container-layout-2 {
  padding-bottom: 0;
}

.u-section-5 .u-text-1 {
  font-size: 13.75rem;
  margin: -145px 30px 0 313px;
}

.u-section-5 .u-line-1 {
  width: 221px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 9px 30px 0 auto;
}

.u-section-5 .u-text-2 {
  font-size: 3rem;
  width: 211px;
  margin: 130px auto 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 0.875rem;
  border-style: none;
  margin: 22px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 669px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 0;
    min-height: 343px;
  }

  .u-section-5 .u-image-1 {
    min-height: 464px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-5 .u-shape-1 {
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 480px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -481px;
    margin-right: 606px;
    margin-left: 50px;
  }

  .u-section-5 .u-line-1 {
    width: 182px;
    margin-top: 120px;
    margin-right: 0;
    margin-left: 3px;
  }

  .u-section-5 .u-text-2 {
    position: relative;
    margin-top: 30px;
    margin-right: 8px;
    margin-left: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-top: -181px;
    margin-right: 119px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 495px;
  }

  .u-section-5 .u-image-1 {
    min-height: 355px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -612px;
    margin-right: 426px;
    margin-left: 49px;
  }

  .u-section-5 .u-line-1 {
    width: 140px;
    margin-top: 251px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 6px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: -289px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 747px;
  }

  .u-section-5 .u-layout-wrap-1 {
    min-height: 692px;
  }

  .u-section-5 .u-image-1 {
    min-height: 533px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -870px;
    margin-right: 169px;
    margin-left: 38px;
  }

  .u-section-5 .u-line-1 {
    width: 221px;
    margin-top: 1093px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 9px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: -217px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-5 .u-layout-wrap-1 {
    min-height: 447px;
  }

  .u-section-5 .u-image-1 {
    min-height: 416px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -532px;
    margin-right: 90px;
    margin-left: 6px;
  }

  .u-section-5 .u-line-1 {
    width: 110px;
    margin-top: 604px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 3px;
    margin-left: auto;
  }

  .u-section-5 .u-btn-1 {
    margin-top: -433px;
    margin-right: auto;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1230px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 45px;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 563px;
  animation-duration: 1000ms;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 40px;
  padding-bottom: 0;
}

.u-section-6 .u-text-1 {
  font-size: 13.75rem;
  animation-duration: 1000ms;
  margin: -141px 120px 0 -1px;
}

.u-section-6 .u-text-2 {
  font-size: 3rem;
  margin: -70px 20px 0 231px;
}

.u-section-6 .u-line-1 {
  width: 221px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 19px auto 0 0;
}

.u-section-6 .u-text-3 {
  font-size: 2.5rem;
  text-transform: none;
  line-height: 48px;
  margin: 119px 95px 0 55px;
}

.u-section-6 .u-btn-1 {
  letter-spacing: 1px;
  font-size: 0.875rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 17px auto 0 169px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 563px;
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-6 .u-container-layout-2 {
  padding-bottom: 0;
}

.u-section-6 .u-image-1 {
  height: 543px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-layout-wrap-2 {
  margin-top: -1px;
  margin-bottom: 60px;
}

.u-section-6 .u-image-2 {
  min-height: 563px;
  background-image: url("images/cyber1.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-6 .u-container-layout-3 {
  padding-left: 40px;
  padding-bottom: 0;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 563px;
}

.u-section-6 .u-container-layout-4 {
  padding-bottom: 0;
}

.u-section-6 .u-text-4 {
  font-size: 2.5rem;
  text-transform: none;
  line-height: 48px;
  margin: 0 95px;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 0.875rem;
  border-style: none;
  margin: 17px auto 0 209px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1032px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 464px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 413px;
    margin-right: 606px;
    margin-left: 50px;
  }

  .u-section-6 .u-text-2 {
    position: relative;
    width: 279px;
    margin-top: -1615px;
    margin-right: 8px;
    margin-left: 0;
  }

  .u-section-6 .u-line-1 {
    width: 182px;
    margin-top: -521px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 20px;
    margin-right: 61px;
    margin-left: 5px;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 69px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 480px;
  }

  .u-section-6 .u-image-1 {
    height: 448px;
  }

  .u-section-6 .u-image-2 {
    min-height: 464px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 16px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 464px;
  }

  .u-section-6 .u-text-4 {
    margin-top: -718px;
    margin-right: 61px;
    margin-left: 45px;
  }

  .u-section-6 .u-btn-2 {
    margin-left: 109px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 814px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 872px;
    margin-right: 426px;
    margin-left: 49px;
  }

  .u-section-6 .u-text-2 {
    margin-top: -2268px;
    margin-right: 6px;
  }

  .u-section-6 .u-line-1 {
    width: 140px;
    margin-top: -617px;
  }

  .u-section-6 .u-text-3 {
    position: relative;
    margin-right: 47px;
    margin-left: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 667px;
  }

  .u-section-6 .u-image-1 {
    height: 343px;
  }

  .u-section-6 .u-image-2 {
    min-height: 355px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 13px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-6 .u-text-4 {
    position: relative;
    margin-top: -912px;
    margin-right: 47px;
    margin-left: 0;
  }

  .u-section-6 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 695px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 1276px;
    margin-right: 169px;
    margin-left: 38px;
  }

  .u-section-6 .u-text-2 {
    margin-top: -1199px;
    margin-right: 9px;
  }

  .u-section-6 .u-line-1 {
    width: 221px;
    margin-top: -425px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 74px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 638px;
  }

  .u-section-6 .u-image-1 {
    height: 515px;
  }

  .u-section-6 .u-image-2 {
    min-height: 533px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 9px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 319px;
    margin-right: 74px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 301px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 1250px;
    margin-right: 90px;
    margin-left: 6px;
  }

  .u-section-6 .u-text-2 {
    margin-top: -1148px;
    margin-right: 3px;
  }

  .u-section-6 .u-line-1 {
    width: 110px;
    margin-top: -617px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 22px;
    font-size: 1.5rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 191px;
  }

  .u-section-6 .u-image-1 {
    height: 324px;
  }

  .u-section-6 .u-image-2 {
    min-height: 336px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 6px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.5rem;
    margin-top: 416px;
    margin-right: 22px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 665px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 46px;
  margin-bottom: 56px;
}

.u-section-7 .u-image-1 {
  min-height: 563px;
  background-image: url("images/Tell-Me-About-Yourself-Interview-Job-Interview-Interview-Questions-Dice.png");
  animation-duration: 1000ms;
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 40px;
  padding-bottom: 0;
}

.u-section-7 .u-shape-1 {
  margin-left: -40px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 563px;
  animation-duration: 10000ms;
}

.u-section-7 .u-container-layout-2 {
  padding-bottom: 0;
}

.u-section-7 .u-text-1 {
  font-size: 13.75rem;
  margin: -145px 30px 0 313px;
}

.u-section-7 .u-line-1 {
  width: 221px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 9px 30px 0 auto;
}

.u-section-7 .u-text-2 {
  font-size: 3rem;
  width: 166px;
  margin: 130px auto 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 0.875rem;
  border-style: none;
  margin: 21px auto 0 202px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 669px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 0;
    min-height: 343px;
  }

  .u-section-7 .u-image-1 {
    min-height: 464px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-7 .u-shape-1 {
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 464px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -481px;
    margin-right: 606px;
    margin-left: 50px;
  }

  .u-section-7 .u-line-1 {
    width: 182px;
    margin-top: 120px;
    margin-right: 0;
    margin-left: 3px;
  }

  .u-section-7 .u-text-2 {
    position: relative;
    margin-top: 30px;
    margin-right: 8px;
    margin-left: 0;
  }

  .u-section-7 .u-btn-1 {
    margin-top: -181px;
    margin-right: 119px;
    margin-left: 102px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 495px;
  }

  .u-section-7 .u-image-1 {
    min-height: 355px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -612px;
    margin-right: 426px;
    margin-left: 49px;
  }

  .u-section-7 .u-line-1 {
    width: 140px;
    margin-top: 251px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 6px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: -289px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 747px;
  }

  .u-section-7 .u-layout-wrap-1 {
    min-height: 692px;
  }

  .u-section-7 .u-image-1 {
    min-height: 533px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -870px;
    margin-right: 169px;
    margin-left: 38px;
  }

  .u-section-7 .u-line-1 {
    width: 221px;
    margin-top: 1093px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 9px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: -217px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-7 .u-layout-wrap-1 {
    min-height: 447px;
  }

  .u-section-7 .u-image-1 {
    min-height: 336px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -532px;
    margin-right: 90px;
    margin-left: 6px;
  }

  .u-section-7 .u-line-1 {
    width: 110px;
    margin-top: 604px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 3px;
    margin-left: auto;
  }

  .u-section-7 .u-btn-1 {
    margin-top: -433px;
    margin-right: auto;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 501px;
}

.u-section-8 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 501px;
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-8 .u-container-layout-1 {
  padding-left: 111px;
  padding-bottom: 0;
}

.u-section-8 .u-text-1 {
  font-size: 13.75rem;
  animation-duration: 1000ms;
  margin: -94px 0 0;
}

.u-section-8 .u-line-1 {
  width: 272px;
  height: 3px;
  transform-origin: right center 0px;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-2 {
  font-size: 3rem;
  animation-duration: 1000ms;
  margin: 50px 20px 0 0;
}

.u-section-8 .u-text-3 {
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: 31px 11px 0 0;
}

.u-section-8 .u-text-4 {
  letter-spacing: 1px;
  font-size: 1.25rem;
  animation-duration: 1000ms;
  margin: 11px 11px 0 0;
}

.u-section-8 .u-social-icons-1 {
  white-space: nowrap;
  height: 28px;
  min-height: 16px;
  width: 243px;
  min-width: 171px;
  animation-duration: 1000ms;
  margin: 30px auto 0 0;
}

.u-section-8 .u-icon-1 {
  height: 100%;
}

.u-section-8 .u-icon-2 {
  height: 100%;
}

.u-section-8 .u-icon-3 {
  height: 100%;
}

.u-section-8 .u-icon-4 {
  height: 100%;
}

.u-section-8 .u-icon-5 {
  height: 100%;
}

.u-section-8 .u-icon-6 {
  height: 100%;
}

.u-section-8 .u-image-1 {
  min-height: 501px;
  animation-duration: 1000ms;
  background-image: url("images/1170322.jpg");
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 413px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 413px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 91px;
  }

  .u-section-8 .u-line-1 {
    width: 224px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 16px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 9px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 9px;
  }

  .u-section-8 .u-social-icons-1 {
    width: 242px;
  }

  .u-section-8 .u-image-1 {
    background-position: 50% 50%;
    min-height: 413px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 316px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 70px;
  }

  .u-section-8 .u-text-1 {
    margin-top: -88px;
  }

  .u-section-8 .u-line-1 {
    width: 172px;
    margin-top: -327px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 20px;
    margin-right: 13px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 7px;
  }

  .u-section-8 .u-text-4 {
    font-size: 1rem;
    margin-right: 7px;
  }

  .u-section-8 .u-image-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 52px;
  }

  .u-section-8 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-8 .u-line-1 {
    width: 161px;
    margin-top: 91px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 9px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 5px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 5px;
  }

  .u-section-8 .u-image-1 {
    min-height: 356px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 33px;
  }

  .u-section-8 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-8 .u-line-1 {
    width: 135px;
    margin-top: 105px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 6px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 3px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 3px;
  }

  .u-section-8 .u-image-1 {
    min-height: 224px;
  }
}